<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
<div class="content">
  <h1>Лабораторна робота No 9</h1>
  <h2>Тема: Робота з компонентами MVC-RoR проекту</h2>
  <h2>Мета роботи – навчитися створювати веб-аплікації із хедерами, футерами та Bootstrap.</h2>
  <hr>
  <ol class="task_lr">
    <li>Відкрити проект ЛР8;</li>
    <li>Додати до проекту хедер і футер</li>
    <li>У футері розмістити контактну інформацію про розробника.</li>
    <li>Приєднати до проекту фреймворк Bootstrap</li>
    <li>Вибрати один із готових шаблонів в розділі Navs & Tabs, розмістити його у хедері свого проекту.</li>
    <li>До пунктів навігації приєднати такі дії "Про проект", "Створити
      користувача", "Показати всіх користувачів", "Видалити всіх користувачів". 
      Дія "Про проект" повинна відображати завдання до цієї лабораторної роботи.
    </li>
    <li>
        Видалити дії, які є на сторінках, і продубльовані в навбарі.
    </li>
  </ol>
</div>
